@import url("https://fonts.googleapis.com/css2?family=poppins:wght@400;600;700;800;&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 60px;
    font-family: poppins, sans-serif;
}
.p-card{
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: radial-gradient(#b9d14c, #e4be41);
    color:fff;
    padding: 50px;
    width: 790px;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.2);
}
.ai img{
    flex: 2;
}

.ai img{
    width: 250px;
    border-radius: 50% 30%;
}

.ai{
    flex: 2;
    border-left: 4px solid aqua;
    padding-left: 30px;
}

.an{
    margin-bottom: 30px;
}

.an h2{
    font-size: 40px;
}
h5{
    font-weight: 300;
}

ul.c li{
    display: flex;
    list-style: none;
}
ul.c li i{
    background-color: aqua;
    color: #b9d14c;
    font-size: 14px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    align-items: center;
    border-radius: 50% 30%;
    margin-right: 10px;
}